.kaufman {
    position: relative;
    z-index: -1;
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    padding-bottom: 90px;
}