.footer__columns_link {
    color: white;
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    /* normal seems too bold, but lighter doesn't change anything */
    font-weight: normal;
}